html {
    font-family: "area-normal", sans-serif;
    font-weight: 900;
    font-style: normal;

}

main {
    margin: 0 auto;
    max-width: 1500px;
}
.site-header {
    display: flex;
    justify-content: space-between;

}

.site-id {
    margin:10px 30px;
    padding:0;
    font-family: "new-kansas", sans-serif;
    font-weight: 700;
    font-style: normal; 
}

.header-nav {
    display: flex;
    list-style-type: none;

}

.header-nav-link {
    font-weight: 600;
    padding: 10px 30px;
    margin:0 8px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    

}