html {
    font-family: "area-normal", sans-serif;
    font-weight: 900;
    font-style: normal;

}

body {
    margin:0;
}

main {
    margin: 0 auto;
    max-width: 1500px;
}
.site-header {
    display: flex;
    justify-content: space-between;
    background-color: white;

  

}

.site-id {
    margin:10px 30px;
    padding:0;
    font-family: "new-kansas", sans-serif;
    font-weight: 700;
    font-style: normal; 
}

.header-nav {
    display: flex;
    list-style-type: none;
    

}

.header-nav-link {
    font-weight: 600;
    padding: 10px 30px;
    padding-bottom: 0;
    margin:0 8px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    

}
.header-nav-link:hover {
   color: #e86a92;

}

.home-banner {
    margin: 0;
    background-image: url("jj_images/onecoffeeatatime.jpg");
   width: 100%;
    height: 600px;
    background-size: 120%;
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
    display: block;    
}

.home-h1 {
    
    margin: 0 auto;
    max-width:800px;
    padding-top:60px;
    text-align: center;
    font-weight: bolder;
 
}

.home-bio {
    margin: 0 auto;
    max-width:800px;
    padding-top:20px;
    text-align: center;
  

}

.home-button {
    color: rgb(255, 255, 255);
    margin-top: 40px;
    gap:30px;
    padding:8px 10px;
    text-decoration: none;
    background-color: #e86a92;
    border-radius: 15px;
    text-align: center;
}
.home-button:hover {
    color: rgb(255, 255, 255);
    margin-top: 20px;
    padding:8px 10px;
    text-decoration: none;
    background-color: #f9da29;
    border-radius: 15px;
    text-align: center;
}


.home-container {
    display:flex;
    gap: 20px;
    background-color:#e86a92 ;
    padding:40px;
    margin: 60px auto ;
    border-style: block;
    border-radius: 40px;
    font-weight: bolder;
}

.home-column {
    
    flex:1;
    min-width: 200px;
    padding:20px;

    background-color: white;
    border-radius: 5px;
    text-align:center;
    font-size: small;

}

.home-image {

    max-height:145px;
    max-width: 100%;
   
}

.footer {
    display:flex;
    margin:0;
    background-color: rgb(38, 37, 59);
    color:antiquewhite;
    font-weight: 800;
    justify-content: space-evenly;
    margin-top: 50px;
   
}

.footer-nav {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.footer-link {
display: flex;
 text-decoration: none;
 color: yellow;
 padding: 60px;
 
}

.footer-h2 {
    
    max-width:800px;
    padding-top:50px;
    text-align: center;
    font-weight: bolder;
}

.footer-link:hover {
text-decoration: underline;
}








.aboutme-banner {
    margin: 0;
    background-image: url("jj_images/whoami.png");
    width: auto;
    height: 1100px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    background-position: center;
    display: block;   
}

.aboutus-image {
    margin: 0;
    background-image: url("jj_images/whoami.png");
    width: auto;
    height: 800px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    background-position: center;
    display: block;   
}

.about-container {
    display:flex;
    gap: 20px;
    padding:40px;
    margin: 60px auto ;
    border-style: block;
    border-radius: 40px;
    font-weight: bolder;

}


.about-column1 {
    flex:1;
    background-color: #e86a92;
    color: antiquewhite;
    min-width: 200px;
    padding:40px;
    border-radius: 15px;
    text-align:justify;
    
}





.recipe-container {
    margin-top: 40px;
     display:flex; 
}

.recipe-column {
    flex:1;
    padding: 20px;  
}

.recipe-image {
     width:100%;
     height: auto;
    
}

.recipe-button-column {
    flex:1;
    min-width: 400px;
    padding:20px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    margin-top: 30px;
    font-size: larger;

}

.recipe-image:hover {
    opacity: 70%;
}

.recipe-banner {
     margin: 0;
    width: 100%;
    height: auto;
   

}





.product-container {
    margin-top: 40px;
     display:flex; 
}
.product-column {
    margin: 0 auto;
    padding: 20px; 
    text-align: center;
}

.product-image {

    max-width:800px auto;
    margin-left: 0;
    margin-top: 0;
    padding: 0px;
    max-height: 450px;
    margin-bottom: 80px;
}

.return-link:hover {
    opacity: 75%;
}

.need-materials {
     text-align: center;
}


.material-banner {
    max-width: 1000px;
    margin: 0 auto;  
}

.recommend-container {
    display:flex;
    padding:40px;
    font-weight: bolder;
    max-width:1000px;
    margin: 0 auto;
 
}

.recommend-column {
    flex:1;
    padding:20px;
    font-size: larger;

}

.material-nav {
    list-style-type:decimal;

}

.material-link {
    text-decoration:none;
    color:#e86a92;

}

.material-link:hover {
    color:#f9da29;
}








.brand-banner {
    background-color: #f9da29;
    padding-top: 0;
    padding-bottom: 60px;
    border-style: block;
    border-radius: 500px;
    margin-top: 50px;
    margin-bottom: 50px;
   
}

.brand-container {
    display:flex;
}


.brand-column-text {
    flex:1;
    background-color:#e86a92 ;
    padding:40px;
    margin: 80px auto;
    border-style: block;
    border-radius: 40px;
    font-weight: bolder;
}

.brand-column-image {
    flex:1;
    min-width: 300px;
    padding:40px;
    margin: 60px auto;
}

.brand-image {
    max-width: 600px;
}







.citation-border {
    background-color: #f9da29;
    padding-bottom: 60px;
    border-style: block;
    border-style: block;
    border-radius: 500px;
    margin-top: 50px;
}


.citation-container {
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 80px;
}





